#board,
#player-choice {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

[id^="row-"] {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 5px;
}

#board button,
#player-choice button {
    height: 200px;
    width: 200px;
    font-size: 4rem;
}